<p><%= link_to "Create New Portfolio", new_portfolio_path if logged_in?(:site_admin) %></p>
<div class="projects-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Projects </h2>
    </div>
    <div class="row projects">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
