<h1>Portfolio Items</h1>
<p><%= link_to "Create New Portfolio", new_portfolio_path %></p>

<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th>Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'portfolio_item', collection: @portfolio_items %>
  </tbody>
</table>
