<div id="parallax" class="parallax large-home">
</div>
<div class="features-clean">
  <div class="container">
    <div class="intro">
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
    </div>
    <hr>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fab fa-github icon"></i>
          BruceNotLee
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fab fa-linkedin icon"></i>
          LinkedIn
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fas fa-graduation-cap icon"></i>
          Wyncode Academy
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fas fa-code icon"></i>
          Rails | HTML5 | CSS3
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fas fa-database icon"></i>
          PostgreSQL | Heroku
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <h3 class="name">
          <i class="fas fa-mobile-alt icon"></i>
          Mobile Friendly
        </h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
    </div>
  </div>
</div>

<div class="projects-clean">
  <div class="container">
    <div class="parallax-projects">
    </div>
    <div class="intro">
      <h2 class="text-center">Projects </h2>
    </div>
    <div class="row projects">
      <%= render partial: 'portfolios/portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
<hr>
