<div data-bs-parallax-bg="true" style="height:500px;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;"></div>
<div class="features-clean">
  <div class="container">
    <div class="intro">
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item"><i class="fab fa-github icon"></i>
        <h3 class="name">BruceNotLee</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fab fa-linkedin icon"></i>
        <h3 class="name">LinkedIn</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fas fa-graduation-cap icon"></i>
        <h3 class="name">Wyncode Academy</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fas fa-code icon"></i>
        <h3 class="name">Rails | HTML5 | CSS3</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fas fa-database icon"></i>
        <h3 class="name">PostgreSQL | Heroku</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fas fa-mobile-alt icon"></i>
        <h3 class="name">Mobile Friendly</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
      </div>
    </div>
  </div>
</div>
<div class="projects-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Projects </h2>
    </div>
    <div class="row projects">
      <div class="col-sm-6 col-lg-4 item">
        <%= image_tag "desk.jpg", :class => "img-fluid" %>
        <h3 class="name">Project Name</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <%= image_tag "building.jpg", :class => "img-fluid" %>
        <h3 class="name">Project Name</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <%= image_tag "loft.jpg", :class => "img-fluid" %>
        <h3 class="name">Project Name</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <%= image_tag "minibus.jpg", :class => "img-fluid" %>
        <h3 class="name">Project Name</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
      </div>
    </div>
  </div>
</div>
