@import "bootstrap";
//= require_tree .

body {
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #051427de;
  color: snow;
}
