<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    <%= link_to 'BruceNotLee', root_path, :class => "navbar-brand" %>
  </div>
  <div class="row">
    <%= login_helper %>
  </div>
</nav>
<div class="row">
  <%= link_to "Projects", portfolios_path, :class => "h5 nav-link" %>
  <%= link_to "Posts", blogs_path, :class => "h5 nav-link" %>
</div>
