<nav class="navbar navbar-dark bg-dark">
  <div class="row">
<% @ruby = image_tag 'ruby' %>
    <%= link_to @ruby+"<BruceNotLee>", root_path, :class => "h1 nav-link" %>
  </div>
  <div class="row">
    <%= link_to "Projects", portfolios_path, :class => "h5 nav-link" %>
    <%= link_to "Posts", blogs_path, :class => "h5 nav-link" %>
    <%= login_helper "h5 nav-link" %>
  </div>
</nav>
